pipeline/pipelineRCC01.json
{
	"name": "pipelineRCC01",
	"properties": {
		"description": "pipeline de carga rcc txt a synapse analytics",
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('var1')),int(variables('var2')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FlujoRccIden",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "FlujoRccIden",
									"type": "DataFlowReference",
									"parameters": {
										"codFecha": {
											"value": "'@{pipeline().parameters.parCodFecha}'",
											"type": "Expression"
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "StagingLinkRccIden01",
										"type": "LinkedServiceReference"
									},
									"folderPath": "stg01"
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime001",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FlujoRccIden",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFecIni",
								"value": ""
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"parCodFecha": {
				"type": "string",
				"defaultValue": "202002"
			},
			"CodFecIni": {
				"type": "int",
				"defaultValue": 202001
			},
			"CodFecFin": {
				"type": "int",
				"defaultValue": 202004
			},
			"CodFecAct": {
				"type": "int",
				"defaultValue": 202001
			}
		},
		"variables": {
			"vFecIni": {
				"type": "String",
				"defaultValue": "202001"
			},
			"vFecFin": {
				"type": "String",
				"defaultValue": "202004"
			},
			"vFecha": {
				"type": "String"
			}
		},
		"annotations": []
	}
}