jdrf001-df001dev/PartialArmTemplates/ArmTemplate_8_23_2021_11_17_45.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "jdrf001-df001dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipelineRCC01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipeline de carga rcc txt a synapse analytics",
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(int(variables('vFecIni')),int(variables('vFecFin')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "FlujoRccIden",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Set variable2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "FlujoRccIden",
											"type": "DataFlowReference",
											"parameters": {
												"codFecha": {
													"value": "'@{variables('vFecha')}'",
													"type": "Expression"
												}
											}
										},
										"staging": {
											"linkedService": {
												"referenceName": "StagingLinkRccIden01",
												"type": "LinkedServiceReference"
											},
											"folderPath": "stg01"
										},
										"integrationRuntime": {
											"referenceName": "integrationRuntime001",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "FlujoRccIden",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "vFecIni",
										"value": {
											"value": "@string(add(int(variables('vFecha')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "vFecha",
										"value": {
											"value": "@variables('vFecIni')",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"variables": {
					"vFecIni": {
						"type": "String",
						"defaultValue": "202001"
					},
					"vFecFin": {
						"type": "String",
						"defaultValue": "202004"
					},
					"vFecha": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/FlujoRccIden')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwh_rcc_slds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dwh01_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "C_TR",
						"type": "varchar"
					},
					{
						"name": "C_COD_SBS",
						"type": "varchar"
					},
					{
						"name": "C_COD_EMP",
						"type": "varchar"
					},
					{
						"name": "C_TC",
						"type": "varchar"
					},
					{
						"name": "C_CTA_CBLE",
						"type": "varchar"
					},
					{
						"name": "C_COND_DIAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "C_SALDO",
						"type": "decimal",
						"precision": 22,
						"scale": 6
					},
					{
						"name": "C_CLASIF",
						"type": "varchar"
					},
					{
						"name": "FECHA",
						"type": "varchar"
					},
					{
						"name": "CODMES",
						"type": "varchar"
					},
					{
						"name": "FECHA_CARGA",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RCC_SALDOS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FlujoRccIden')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "rcc_iden",
								"type": "DatasetReference"
							},
							"name": "RccIdenTxt"
						},
						{
							"dataset": {
								"referenceName": "rcc_slds",
								"type": "DatasetReference"
							},
							"name": "RccSldsTxt"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dwh_rcc_iden",
								"type": "DatasetReference"
							},
							"name": "Dwh01RccIden"
						},
						{
							"dataset": {
								"referenceName": "dwh_rcc_slds",
								"type": "DatasetReference"
							},
							"name": "Dwh01RccSlds"
						}
					],
					"transformations": [
						{
							"name": "Transform01"
						},
						{
							"name": "Transform02"
						}
					],
					"script": "parameters{\n\tcodFecha as string (\"202001\")\n}\nsource(output(\n\t\tColumn_1 as string,\n\t\tColumn_2 as string,\n\t\tColumn_3 as string,\n\t\tColumn_4 as string,\n\t\tColumn_5 as string,\n\t\tColumn_6 as string,\n\t\tColumn_7 as string,\n\t\tColumn_8 as string,\n\t\tColumn_9 as string,\n\t\tColumn_10 as string,\n\t\tColumn_11 as string,\n\t\tColumn_12 as string,\n\t\tColumn_13 as string,\n\t\tColumn_14 as string,\n\t\tColumn_15 as string,\n\t\tColumn_16 as string,\n\t\tColumn_17 as string,\n\t\tColumn_18 as string,\n\t\tColumn_19 as string,\n\t\tColumn_20 as string,\n\t\tColumn_21 as string,\n\t\tColumn_22 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[(\"rcciden_\"+$codFecha+\".txt\")]) ~> RccIdenTxt\nsource(output(\n\t\tColumn_1 as string,\n\t\tColumn_2 as string,\n\t\tColumn_3 as string,\n\t\tColumn_4 as string,\n\t\tColumn_5 as string,\n\t\tColumn_6 as string,\n\t\tColumn_7 as string,\n\t\tColumn_8 as string,\n\t\tColumn_9 as string,\n\t\tColumn_10 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[(\"rccslds_\"+$codFecha+\".txt\")]) ~> RccSldsTxt\nRccIdenTxt derive(fec_carga = currentTimestamp()) ~> Transform01\nRccSldsTxt derive(fec_carga = currentTimestamp()) ~> Transform02\nTransform01 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tCOD_SBS as string,\n\t\tFECHA1 as string,\n\t\tTIPO_RUC as integer,\n\t\tRUC as string,\n\t\tTIPO_DOC as string,\n\t\tDOCUMENTO as string,\n\t\tTIP_PERSONA as integer,\n\t\tTIPO_EMPRESA as string,\n\t\tCANT_EMP as string,\n\t\tCAL_0 as decimal(18,2),\n\t\tCAL_1 as decimal(18,2),\n\t\tCAL_2 as decimal(18,2),\n\t\tCAL_3 as decimal(18,2),\n\t\tCAL_4 as decimal(18,2),\n\t\tAPE_PATERNO as string,\n\t\tAPE_MATERNO as string,\n\t\tAPE_CASADA as string,\n\t\tPR_NOMBRE as string,\n\t\tSG_NOMBRE as string,\n\t\tFECHA as timestamp,\n\t\tCODMES as string,\n\t\tFECHA_CARGA as timestamp\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tpreSQLs:[(\"delete from rcc_iden where codmes = '\" +$codFecha + \"'\")],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tCOD_SBS = Column_1,\n\t\tFECHA1 = Column_2,\n\t\tTIPO_RUC = Column_3,\n\t\tRUC = Column_4,\n\t\tTIPO_DOC = Column_5,\n\t\tDOCUMENTO = Column_6,\n\t\tTIP_PERSONA = Column_7,\n\t\tTIPO_EMPRESA = Column_8,\n\t\tCANT_EMP = Column_9,\n\t\tCAL_0 = Column_10,\n\t\tCAL_1 = Column_11,\n\t\tCAL_2 = Column_12,\n\t\tCAL_3 = Column_13,\n\t\tCAL_4 = Column_14,\n\t\tAPE_PATERNO = Column_15,\n\t\tAPE_MATERNO = Column_16,\n\t\tAPE_CASADA = Column_17,\n\t\tPR_NOMBRE = Column_18,\n\t\tSG_NOMBRE = Column_19,\n\t\tFECHA = Column_20,\n\t\tCODMES = Column_21,\n\t\tFECHA_CARGA = fec_carga\n\t)) ~> Dwh01RccIden\nTransform02 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tC_TR as string,\n\t\tC_COD_SBS as string,\n\t\tC_COD_EMP as string,\n\t\tC_TC as string,\n\t\tC_CTA_CBLE as string,\n\t\tC_COND_DIAR as integer,\n\t\tC_SALDO as decimal(22,6),\n\t\tC_CLASIF as string,\n\t\tFECHA as string,\n\t\tCODMES as string,\n\t\tFECHA_CARGA as timestamp\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tpreSQLs:[(\"delete from RCC_SALDOS where codmes = '\" +$codFecha + \"'\")],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tC_TR = Column_1,\n\t\tC_COD_SBS = Column_2,\n\t\tC_COD_EMP = Column_3,\n\t\tC_TC = Column_4,\n\t\tC_CTA_CBLE = Column_5,\n\t\tC_COND_DIAR = Column_6,\n\t\tC_SALDO = Column_7,\n\t\tC_CLASIF = Column_8,\n\t\tFECHA = Column_9,\n\t\tCODMES = Column_10,\n\t\tFECHA_CARGA = fec_carga\n\t)) ~> Dwh01RccSlds"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dwh_rcc_slds')]"
			]
		}
	]
}